/workspace.xml
/misc.xml
/modules.xml
/inspectionProfiles/profiles_settings.xml
/annotation_tool.iml
/vcs.xml
*.idea
docker-compose.override.yml
/working_dataset/
/working_dataset_creation/
/db_from_server/
