
#wrapper {
    width: 1300px;
    height: 630px;
    border: 1px solid lightgray;
    border-radius: 5px;
    /*background-color: yellow;*/
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;


    margin: auto;
}

#video {
    width: 660px;
    height: 520px;
    border: 1px solid lightgray;
    margin-left: 20px;
    margin-top: 20px;
    float: left;
    background-color: white;
}

#emotions {
    width: 550px;
    height: 520px;
    float: left;
    margin-left: 20px;
    border: 1px solid lightgray;
    margin-top: 20px;
    background-color: white;

}

.instruction {
    font-weight: 300;
    margin: 0px;
    padding: 10px;
    font-size: 30px;
    background-color: #444;
    color: #fff;
    visibility: visible;
    display: block;
    text-align: center;
    font-weight: bold;
}

#send_behaviours {
    /*display: block;*/
    width: 110px;
    height: 55px;
    /*float: left;*/
    /*margin-left: 30px;*/
    /*margin-top: 20px;*/
    font-family: sans-serif;
    font-size: 20px;
    background-color: #444;
    color: #fff;
    border: 0px;
    border-radius: 3px;
    padding: 20px;
    cursor: pointer;
    margin-bottom: 20px;
    float: none;
}
#send_behaviours:hover{
    background-color: #38a;
}

button {
    display: block;
    width: 210px;
    height: 225px;
    float: left;
    margin-left: 30px;
    margin-top: 20px;
    border: none;
}

#emotion_blue {
    background-image: url("images/blue.png");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;

}

#emotion_blue:hover {
    background-image: url("images/blue_hover.png");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;

}

#emotion_green {
    background-image: url("images/green.png");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;

}

#emotion_green:hover {
    background-image: url("images/green_hover.png");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;

}

#emotion_red {
    background-image: url("images/red.png");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}

#emotion_red:hover {
    background-image: url("images/red_hover.png");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}

#emotion_yellow {
    background-image: url("images/yellow.png");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;

}

#emotion_yellow:hover {
    background-image: url("images/yellow_hover.png");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;

}

video {
    margin-top: 20px;
}

#behaviours {
    width: 1100px;
    height: 600px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    background-color: white;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: none;
}
#form_behaviour{
    margin-top: 30px;
    margin-left: 30px;
    font-size: x-large;
}
#explanation{
    width: 80%;
    margin: auto;
    margin-top: 30px;
    font-size: 20px;
}