<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Annotation Tool</title>
    <link rel="stylesheet" type="text/css" href="../static/annotation_tool.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="../static/annotation_tool.js"></script>

</head>
<body>
<div id="wrapper">
    <p class="instruction">Click on the Emotional Zone button as soon as you identify it</p>
    <div id="video">
        <video id='video_annotation' controls>
            <source id="source_video" src={{
            'static/' + video_path }} type="video/mp4">
        </video>
        <div id="explanation">
            We ask you to select the emotional zone you believe your child is engaged in at any moment and to indicate
            which behaviour of them you recognised to decide for an emotional zone.
        </div>
    </div>

    <div id="emotions">
        <div id="emotion_buttons">
            <div class="button_wrapper" id="button_wrapper_blue">
                <button id="emotion_blue"></button>
<!--                <label id="label_button_blue">Current Emotion</label>-->
                <label class="label_button" id="label_button_blue"></label>
            </div>
<!--            <div class="button_wrapper" id="button_wrapper_green" style="background-color: #FBA543">-->
            <div class="button_wrapper" id="button_wrapper_green" style="background-color: #444">
                <button id="emotion_green"></button>
                <label class="label_button" id="label_button_green">Current Emotion</label>
            </div>
            <div class="button_wrapper" id="button_wrapper_yellow">
                <button id="emotion_yellow"></button>
                <label class="label_button"  id="label_button_yellow"></label>
            </div>
            <div class="button_wrapper" id="button_wrapper_red">
                <button id="emotion_red"></button>
                <label class="label_button"  id="label_button_red"></label>
            </div>
        </div>
    </div>

</div>
<div id="behaviours">
    <p class="instruction">Select which behaviour you observed to select the emotional zone</p>
    <div id="form_behaviour">
        <form id="behaviours_checkbox">
            <label for="facial_expressions" class="input_container"> Facial expressions
                <input type="checkbox" id="facial_expressions" value="facial_expressions">
                <span class="checkmark"></span>
            </label>
            <label for="words" class="input_container"> Words they said
                <input type="checkbox" id="words" value="words">
                <span class="checkmark"></span>
            </label>
            <label for="vocalization" class="input_container"> Sounds they made
                <input type="checkbox" id="vocalization" value="vocalization">
                <span class="checkmark"></span>
            </label>
            <label for="jump" class="input_container"> Jumping
                <input type="checkbox" id="jump" value="Jump">
                <span class="checkmark"></span>
            </label>
            <label for="head_movment" class="input_container"> Head movement
                <input type="checkbox" id="head_movment" value="head_movement">
                <span class="checkmark"></span>
            </label>
            <label for="laugh" class="input_container"> Laugh
                <input type="checkbox" id="laugh" value="laugh">
                <span class="checkmark"></span>
            </label>

            <label> Other:</label>
            <input type="text" id="typed_text">
        </form>
        <button id="send_behaviours">Submit</button>
        <button id="cancel">Cancel</button>
        <p id="info">When you click the "Submit" button, you will return to the video. </p>
    </div>
</div>
</body>
</html>